.contact {
    background-color: #020202;
}

.contact-tittle {
    color: white;
}

.success-message {
    color: rgb(100, 255, 159);
}

.title-contact {
    font-family: "Lucida Console";
    color: white;
    letter-spacing: 0.1em;
}
