.contact {
    background-color: #020202;
}

.contact-tittle {
    color: white;
}

.success-message {
    color: rgb(100, 255, 159);
}

.title-contact {
    color: white;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'League Gothic', sans-serif;
}
