/* .img-services {
    max-height: 300px;
    max-width: 100%;
    min-height: 300px;
    min-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-services:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: transform 2s ease-in-out;
}

.title-services {
    font-family: 'League Gothic';
    color: white;
    font-size: 1em;
    font-weight: 50;
}

.title-services-section {
    font-family: "Lucida Console";
    color: white;
    letter-spacing: 0.1em;
}
 */

 .title-services-section {
    color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: rgb(231, 169, 24);
  border: 1px solid rgb(231, 169, 24);
  color: #c50d0d;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 50%;
  }
}
.card {
  background-color: rgb(201, 0, 0);
  border:1px solid #f52a2a;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  background-color: rgba(194, 194, 194, 0.521);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--service1 {
  background-image: url('./service1.jpeg');
}
.card__image--service2 {
  background-image: url('./service2.png');
}
.card__image--service3 {
  background-image: url('./service3.png');
}
.card__image--service4 {
  background-image: url('./service4.jpg');
}
.card__title {
  color: rgb(0, 0, 0);
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  color: rgb(37, 37, 37);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.2rem;
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
 